# requirements.txt - dependências do projeto

# Manipulação de dados
pandas>=2.3.2

# Banco de dados PostgreSQL
psycopg2-binary>=2.9.7

# Apache Airflow
apache-airflow>=2.7.1

# Dependências auxiliares
python-dotenv>=1.0.0

# dokcer para o SDK
docker==6.1.3